@charset "UTF-8";

@media screen and (min-width: 1024px) {
    body {
        background: url(imagens/imagem1.png) no-repeat;
        background-size: cover;
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    
    main {
        
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        flex: 1;
        min-height: 100vh;
        box-sizing: border-box;
    }

    

    div { 
        flex-grow: 1;
        cursor: pointer;
        min-height: 500px;
        max-width: 400px;
        margin: 20px;
        
    }

    ul > li {
        font-size: 2em;
    }

}